{% load static %}
{% with 'blog/images/'|add:post.image_name as image_path %}
<div class="card mb-4 h-100">
    <a href="{% url 'post-detail' post.slug %}">
        <img src="{% static image_path %}" class="card-img-top post-card-img" alt="{{ post.title }}">
    </a>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">
            <a href="{% url 'post-detail' post.slug %}" class="text-decoration-none text-dark">
                {{ post.title }}
            </a>
        </h5>
        <p class="card-text text-muted flex-grow-1">{{ post.excerpt|truncatechars:100 }}</p>
    </div>
</div>
{% endwith %}
