{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>{{ post.title }}</h2>
            <p class="text-muted">{{ post.excerpt }}</p>
            <p class="text-muted">
                {{ post.date }}
                {% if post.author %}
                - <a href="{% url 'author-detail' post.author.id %}">{{ post.author }}</a>
                {% endif %}
            </p>

            {% with 'blog/images/'|add:post.image_name as image_path %}
            <img src="{% static image_path %}" alt="{{ post.title }}" class="img-fluid w-100 mb-4 rounded">
            {% endwith %}

            <p>{{ post.content }}</p>

            {% if post.tags.all %}
            <hr>
            <div class="mt-4">
                <h5>Etiquetes</h5>
                {% for tag in post.tags.all %}
                <a href="{% url 'tag-posts-page' tag.id %}" class="btn btn-secondary btn-sm me-1">{{ tag.tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
